<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqFBS6A7_7Bc26nkjghH0pWlVtCny6nT4</string>
	<key>GCM_SENDER_ID</key>
	<string>863227552301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaAppBloc001</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-bloc-fa8f5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-bloc-fa8f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863227552301:ios:7e170785141c5b7a234ea4</string>
</dict>
</plist>